In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/march_teams.csv")

In [5]:
df1 = df[df["Post-Season Tournament"] == "March Madness"]

In [9]:
df2 = df1[(["Season", "Team Name", "Seed", "Region"])]

In [12]:
df3 = df2[df2["Season"] > 2012]

In [14]:
df3["Year"] = df3["Season"]
df3["Team"] = df3["Team Name"]

/var/folders/gk/z5vk9c8d7nbgnnqmn_5fy9hc0000gp/T/ipykernel_86991/3237857374.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Year"] = df3["Season"]
/var/folders/gk/z5vk9c8d7nbgnnqmn_5fy9hc0000gp/T/ipykernel_86991/3237857374.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Team"] = df3["Team Name"]

In [18]:
drop = ["Season", "Team Name"]

df3.drop(drop, axis = 1)

     Seed Region  Year              Team
0       1  South  2025            Auburn
1      16  South  2025     Alabama State
2      16  South  2025  St. Francis (PA)
3       8  South  2025        Louisville
4       9  South  2025         Creighton
..    ...    ...   ...               ...
922    14   East  2013          Davidson
923     7   East  2013          Illinois
924    10   East  2013          Colorado
925     2   East  2013             Miami
926    15   East  2013           Pacific

[815 rows x 4 columns]

In [19]:
df3.to_csv("data/teams_data.csv")