In [3]:
import pandas as pd

safe = pd.read_csv("../data/safer_wins.csv")
agg = pd.read_csv("../data/aggressive_wins.csv")

del safe["Unnamed: 0"]
del agg["Unnamed: 0"]

In [4]:
df = pd.merge(safe, agg, on=['Year', 'Team'], how='outer')

df.head()

,Year,Team,Proj_Wins_Safer,Wins_Rank_Safer,Proj_Wins_Agg,Wins_Rank_Agg
0,2013,Louisville,3.719443,1,4.164746,1
1,2013,Michigan,1.442656,15,1.309478,17
2,2013,Syracuse,1.781532,8,1.691496,9
3,2013,Wichita St.,0.918709,34,0.995728,30
4,2013,Ohio St.,2.197652,4,2.243558,3

In [6]:
df["Diff"] = abs(df["Wins_Rank_Safer"] - df["Wins_Rank_Agg"])

In [7]:
df.sort_values("Diff", ascending=False).head(25)

,Year,Team,Proj_Wins_Safer,Wins_Rank_Safer,Proj_Wins_Agg,Wins_Rank_Agg,Diff
232,2016,Wichita St.,0.876779,30,1.064977,21,9
185,2015,Boise St.,0.515062,42,0.646766,33,9
105,2014,VCU,1.276317,20,1.601658,11,9
222,2016,VCU,0.818307,32,1.014473,23,9
558,2022,Providence,0.840867,28,0.677430,37,9
365,2018,Butler,0.949589,26,1.198468,17,9
242,2016,Baylor,0.900261,28,0.714783,37,9
591,2022,San Francisco,0.720439,34,0.833462,26,8
69,2014,Kentucky,1.566784,11,1.357524,19,8
234,2016,Little Rock,0.632525,40,0.787006,32,8
71,2014,Wisconsin,1.544598,12,1.340613,20,8
529,2021,Michigan St.,0.646685,37,0.448663,45,8
435,2019,Minnesota,0.695665,34,0.470755,42,8
86,2014,Creighton,1.197098,22,1.484495,14,8
306,2017,Minnesota,0.774033,30,0.599758,38,8
316,2017,Vanderbilt,0.584300,41,0.618749,34,7
761,2025,Michigan,1.140687,20,1.004061,27,7
26,2013,Mississippi,1.136595,20,1.059280,27,7
698,2024,Michigan St.,0.875322,29,0.793258,36,7
22,2013,Saint Louis,0.985313,29,1.164667,22,7
39,2013,UNLV,0.978135,30,1.160014,23,7
227,2016,Utah,0.883390,29,0.730867,36,7
559,2022,Iowa St.,0.713259,36,0.799703,29,7
267,2016,Texas Tech,0.446569,45,0.309386,52,7
245,2016,Arizona,1.131203,18,0.986887,25,7

In [9]:
for i in range(0,10):
    
    dif = df[df["Diff"] == i]
    print(i, ": ", len(dif))

0 :  253
1 :  229
2 :  136
3 :  75
4 :  52
5 :  27
6 :  17
7 :  12
8 :  8
9 :  7

In [10]:
print("0: ", len(df[df["Diff"] == 0]))
print("1+: ", len(df[df["Diff"] != 0]))

0:  253
1+:  563

In [11]:
print("0: ", len(df[df["Diff"] == 0]))
print("1: ", len(df[df["Diff"] == 1]))
print("2+: ", len(df[df["Diff"] >= 2]))

0:  253
1:  229
2+:  334